:root{
    background-color: #F0C9EA;
    font-family: "Segoe UI",Arial, Helvetica, sans-serif;
}

.orkut-font-color{
    color: #e8258e;
}

.orkut-button-bg{
    background-color: #e8258e;
    cursor: pointer;
}